@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: rgb(88, 86, 86);
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
    background-color: #eee;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}
.month-name {
  font-size: 15px;
} 

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 40%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  z-index: 1;
  box-shadow: 0 2px 4px #ccc;
  margin-bottom: 20px;
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  padding: 1.0em 0;
  border-bottom: 1px solid #bbb;
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: rgb(83, 82, 82);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid #bbb;
  height: 30px;
}

.calendar .body .cell {
  position: relative;
  height: 8em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}



.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.close-modal{
  position:relative;
  /* margin:0; */
  margin-left: 330px;
  top: 20px;
  z-index: 5;
  padding: 10px;
  background-color: rgb(241, 241, 241)
}

.this-date {
  background-color:#3C4252;
  padding: 20px;
  color: white;
  margin-top: 10px;
  /* border-radius: 10px; */
  box-shadow: 0 2px 2px #bbb;
  font-size: 20px;
  position: relative;
  top: -15px;
  width: 400px;
  margin-left: -20px;
}

.task-items {
  text-align: left;
}

input {
  width: 60%;
  height: 30px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
}

textarea{
  width: 80%;
  height: 50px;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px;

}

.modal-content{
  overflow: auto;
  margin-top: -40px;
}

.add-new-event {
  padding: 5px;
  width: 50px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #3C4252;
  color: white;
}

.add-event {
margin-top: 130px;
border: solid 2px rgb(231, 231, 233);
padding: 10px;
text-align: left;
border-radius: 5px;

}
.modalOverlay {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2);
  margin-left: 200px; 
}



  .modal-info{
    background-color: #fefefe;
    border: 1px solid #888;
    margin-left: 200px;
    z-index: 1;
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    
    /* box-shadow: 0 4px 4px #eee; */
    /* width: 350px; */
    /* height: 550px; */
  }

  .test {
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /* height: 600px; */
    overflow: auto;
    border-radius: 10px;
    /* background-color: #fefefe;
    border: 1px solid #888;
  
    background-color: rgba(0,0,0,0.2); */
  }

  .mbsc-fr-w {
    height: 500px;
    /* margin: 0px auto; width: 800px; white-space: nowrap; */
  }
  .mbsc-fr-popup .mbsc-ltr .mbsc-fr-has-hdr {
  top: 29px;
   left: 350px;
  }

  

@media only screen  and (min-width : 1224px) {
    .calendar {
        width: 1200px;
        margin-left: 215px;
        margin-top: 20px;
    }
    .modal-info {
      margin-top: 20px;
    }
   

  
}
